

@model Lab2_IT_2024.Models.EventModel

@{
    ViewBag.Title = "EditEvent";
}

<h2>Промена на евент:</h2>

@using (Html.BeginForm("EditEvent", "Event"))
{
    <div>
        <div>
            @Html.HiddenFor(model => model.Id)
        </div>
        <br />

        <div>
            @Html.Label("Event name")
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.Label("Event location")
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
        <br />

        <button type="submit">Едитирај</button>
    </div>
}
